h1{
    text-align: center;
    margin-top: 20px;
    
}

h2{
    text-align: center;
  margin-top: 20px;
}

.divcard{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}